ul {
    background-color: darkseagreen;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li {    
    float: left;
}

li a {
    display: block;
    color: mediumblue;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;

}

li a:hover {
    background-color: mediumspringgreen;
}

h1 {
    font-family: cursive;
    color: orchid;
}

#titleI {
    color: palevioletred;
}

body {
    background-color: lemonchiffon;
}

.colorPreviewBox {
    height: 26px;
    width: 21px;
    float: left;
    
}

.palletContainer {
    background-color: white;
    width: 16%;
    float: left;
    padding: 2%;
}

.palletContainerInner {
    float: left;
}